/* =============
    Navigation
============= */
#navigation {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". navigation .";

    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    >div {
        // border: 5px solid red;
        grid-area: navigation;

        form {

            input {}

            button {
                background-color: $yellow;
            }
        }
    }
}