/* =============
    section-1
============= */
#section-1 {
    img {
        width: 100%;
    }

    ul{

        @include md {
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg {
            grid-template-columns: 50% auto;
        }

        li {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". section-1-content .";

            @include xl {
                grid-template-columns: auto 480px 16px;
            }

            a {
                grid-area: section-1-content;
                border: 1px solid red;
            }
        }

        #section-1-sub-1 {
            background-color: $darkpink;
        }

        #section-1-sub-2 {
            background-color: $pink;

            @include xl {
                grid-template-columns: 16px 480px auto;
            }
        }
    }
}