/* =============
    section-4
============= */
#section-4 {
    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". section-4 .";
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    >div {

        @include md {
            grid-area: section-4;
        }

        ul {


            @include md {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    "s4-1 s4-1 s4-2 s4-2"
                    "s4-3 s4-3 s4-4 s4-4"
                    ". s4-5 s4-5 .";
                gap: 16px;
            }

            @include lg {
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                    "s4-1 s4-1 s4-2 s4-2 s4-3 s4-3"
                    ". s4-4 s4-4 s4-5 s4-5 .";
            }

            li {
                background-color: $mintgreen;

                img {
                    width: 100%;
                }

                section {
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". section-4-content .";

                    >div {
                        grid-area: section-4-content;

                        button {
                            background-color: $pink;
                        }
                    }
                }
            }

            #s4-1 {
                @include md {
                    grid-area: s4-1;
                }
            }

            #s4-2 {
                @include md {
                    grid-area: s4-2;
                }
            }

            #s4-3 {
                @include md {
                    grid-area: s4-3;
                }
            }

            #s4-4 {
                @include md {
                    grid-area: s4-4;
                }
            }

            #s4-5 {
                @include md {
                    grid-area: s4-5;
                }
            }
        }
    }

}